.editpref{
    .active{
        background-color: #F8AC30;
        color:white;
        font-weight: bold;
        border:transparent;
    }
    .activem{
        background-color:#3D6CF8;
        color:white;
        font-weight: bold;
        border:transparent;
    }
    li{
        list-style-type:none;
        border:2px solid black;
        border-radius:100px; 
        display: inline-block;
        padding: 9px 13px;
        margin:7px;
        background-color: white;
        font-size:17px;
    }
    h1{
        text-align: center;
    }
    .internbg{
        background-color: #F4F4F4;
    }
    .missionbg{
        background-color: #F4F4F4
        
    }
    h4{
        background-color: white;
        text-align: center;
    }
    .btn{
        background-color: #3B42A5;
        border-radius: 20%/50%;
        margin-top:300px;
        margin-left: 340px;
        padding: 7px 15px;
        font-size: 17px;
    }
    
        padding: 20px;
        background-color: white;
}