.profilesetup{

    .container{
        background-color: white;
    }
    min-height: 800vh;
    .formdesign{
        border:1px solid black;
        margin:20px auto; 
    }
    .dropsel_design{
        text-align: center;
        padding: 10px;
    }
}