.profilesetup{
    .loginbtn{
        margin:auto;
    }
    .socioicons{
        margin: auto;
        text-align: center;
    }
    .container{
        background-color: white;
    }
    h1{
        text-align: center;
        margin:10px 0px; 
    }
    i{
        margin: 0 10px;
    }
    .buttons{
        margin: 7px auto;
    }
    min-height: 800vh;
}